@charset 'utf-8';

$primary-color: #ed2b45;
$secondary-color: #000000;
$tertiary-color: #ffffff;
$text-color: #ffffff;

$breakpoints: (
    tablet: 784px,
    laptop: 1280px,
);

@mixin scale-up-transition($scale) {

    transform: scale($scale);
}

@mixin media-query($device) {
    @if map-has-key($breakpoints, $device) {
        @media only screen and (min-width: map-get($breakpoints, $device)) {
            @content;
        }
    }
}