:root {
    --w-color: #000;
    --u-color: #ed2b45;
    --x-color: wheat;
    --y-color: #ffc300;
    --z-color: #ffd60a;

    --white-color: #b0b2c3;
    --white-color-hover: #ffffff;
    /*#dedede33*/
    --contact-icon-default: #000814;
    --contact-icon-x: #001d3d;
    --contact-icon-y: #003566;
    --contact-icon-z: #ffc300;
    --contact-icon-hover: #ffd60a;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    height: calc(100vh - 60px - 2px);
    background-color: #000;
    border-bottom: 2px solid #ed2b45;
    position: relative;


}

header>* {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


header>div {
    display: flex;
    align-content: center;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

.text-article-left-border {
    border-left: 2px solid #ed2b45;
    width: 20%;

    height: 100vh;
}

.text-article {
    align-items: flex-start;
    flex-direction: row;
}

.text-article-body>p {

    text-align: justify;
    padding: 0 10%;
    text-indent: 50px;
}


main {
    padding: 50px 15%;
    display: flex;
    flex-direction: row;
}

.text-article-body {
    width: 60%;
}

.text-article-body>h2 {
    padding: 0 10%;
}

main h2 {
    padding: 0 10%;
}

article hr {
    border: none;
    border-bottom: 2px solid #ed2b45;
    width: 90%;
}

#canvas {
    width: 100%;
}


nav {
    width: 100%;
    top: 0px;
    position: sticky;
    z-index: 2;
}

.nav-bar {
    display: flex;
    justify-content: right;
    align-items: center;

    border-bottom: 2px solid #ed2b45;
    width: 100%;
    background: var(--w-color);
    height: 60px;
}

.nav-mobile-menu {
    padding: 10px 0;
    z-index: 2;
    display: flex;
    display: none;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    position: absolute;
    border-bottom: 2px solid #ed2b45;
    width: 100%;
    background: var(--w-color);
}

.nav-mobile-menu>a {
    font-size: 20px;
    height: 30px;
    text-align: right;
    margin-right: 25px;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}



.nav-mobile-menu>a:hover {
    color: #ed2b45;
}

header>div>* {
    width: 40%;
}

header>div>h2 {
    font-size: 18pt;
    margin: 0;
}

header>div>h1 {
    color: #ed2b45;
    font-size: 40pt;
    margin: 0;
}


header>div>p {
    font-size: 24pt;
    margin: 0;
}

article {

    padding: 50px 0 200px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


article h1 {
    text-align: left;
    font-size: 30px;

    width: 60%;
    font-weight: normal;
}

#projects {

    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    height: 100vh;
}

.project {
    border: 2px solid #ed2b45;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}

.project {
    background-position: center;
    background-size: cover;
}

.project p {

    font-size: 20px;
    padding-right: 50px;

    justify-content: center;
    align-items: center;
    align-items: end;


    transition: 0.1s;
}


.project:hover {
    cursor: pointer;
    color: #ed2b45;
}


.project {

    display: flex;
    flex-direction: row;

}

.project img {}


.project-image {
    background-image: url('./images/biography.jpg');
    background-size: 100%;
    height: 100%;
    width: 40%;
}


.project-image::after {
    content: "sada";
    border: solid 2px #ed2b45;
    width: 100px;
    height: 100px;
    z-index: 100;
    display: block;
}

.project-image-wrapper>img {
    width: calc(100% + 20px);
    z-index: -1;
}

.project img::after {
    content: "sadasda";


}

.nav-bar>a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

.nav-bar a:hover {
    color: #ed2b45;
}


footer {
    width: 100%;
    height: 150px;
    background-color: #ed2b45;
    align-content: center;
    border-top: 2px solid #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.contact-icon {
    font-size: 45px;
    color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: ease-in 0.2s;

}


.contact-icon:hover {
    color: #fff;
}

footer>div {
    display: flex;
}

footer a {
    color: inherit;
}

footer>hr {
    width: 70%;
}

footer>p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    width: 70%;
    color: #fff;
    text-align: right;
}

.nav-space {
    width: 100px;
}

.nav-mobile {
    font-size: 26px;
    display: none;
}

.nav-mobile-a {
    display: none;
}

.hash {
    color: #ed2b45;
}

@media only screen and (max-width: 780px) {

    header>div>* {
        width: 90%;
    }

    .text-article-body {
        width: 90%;
    }

    .text-article-left-border {
        display: none;
    }

    .nav-space {
        width: 30px;
    }



    .nav-mobile {
        display: block;
    }

    .nav-mobile-a {}

    #projects {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    nav a {
        display: none;
    }

    article>h1 {
        width: 90%;
    }

    article {
        padding: 0px 0px 50px;
    }

    .project {
        margin: 5px;
        height: 250px;
    }
}